* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html
{
	height:100%;
}
body {
	font-family: Helvetica;	
	-webkit-font-smoothing: antialiased;
	
	background-repeat: no-repeat;
    background-size: cover;
	height: 100%;
}


   .active-back {
  color: #919cb2 !important;
}
.active-back:hover {
  cursor: pointer;
  color: #286efa !important;
}
.back {
  position: absolute;
  height: 20px;
  width: 40px;
  color: #d6dae4;
  display: block;
  transition: 0.3s;
  margin-left: 20px;
  margin-top: -30px;
  font-size: 24px;
}

.shift {
  left: -330px !important;
}
.user_card {
	height: 58%;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	border-radius: 5px;
	
	}
	
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: red;
	padding: 1px;
	text-align: center;
	}
	
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
	}
	
	.input-group-text {
			background: rgb(fff, 15, 153) !important;
			color: red !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;

		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}
		
.clearfix
{	
	content: '';
	display: table;
}

h1, h3 {
	font-weight: 300;
}

h1 {
	color: #636363;
}

h3 {
	color: #4a89dc;
}
div#sucess-msg {
    background: lightgreen;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s ease-in;
    position: relative;
    top: 10px;
	margin: 0 10px;
}
.form-blk
{
	width: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 210px;
	text-align:center;	
	margin-top:18%;
	
}

form {
	
	padding: 3em 2em 2em 2em;
	/*background-image:url('assets/images/bg.jpg');
	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
	
}
.group {
	position: relative;
	/*margin-bottom: 20px;*/
}
input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fff;
	color: #636363;
	width: 85%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ddd;
}
.log, .log2
{
	transition: 0.5s ease-in;
	float: left;
    min-width:287px;
    max-width:100%;	
	right: 0;
}
.log3{
	right:-100%;
}

.hidden
{
	opacity:0;
	position: absolute;
	right: -100%;
}
input:focus {
	outline: none;
}
/* Label */
label {
	color: #A0A0A0;
	font-size: 16px;
	font-weight: normal;
	/*position: absolute;*/
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
	-webkit-transform: scale(.75);
	transform: scale(.75);
	left: -2px;	
	color: #4a89dc;
	font-size: 15px;
}
.group-last {
    width: 100%;
}

a.forget {
    float: left;
    color: #4285f4;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
}
input:focus ~ label.lbl-color {
    color: #fff;
    font-weight:800;
}
/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #4a89dc;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.color:before, .color:after {	
	background: #f00;	
}

.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}
/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}
/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
/* active */

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease-in;
	animation: inputHighlighter 0.3s ease-in;
}

.help-block {
    color: #f00 !important;    
    text-align: left;
    font-size: 12px;
	 margin: 5px 0;
}

input.inp-color {
    border-bottom: 2px solid #fff;
	transition: all 0.2s ease-in;
}

/* Animations */

/*@-webkit-keyframes inputHighlighter {
 from {
background: #4a89dc;
}
 to {
width: 0;
background: transparent;
}
}
 @keyframes inputHighlighter {
 from {
background: #4a89dc;
}
 to {
width: 0;
background: transparent;
}
}*/
/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 8px 24px;
    margin: .3em 0 1em 0;
    width: auto;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    border-radius: 3px;
    float: right;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.button:focus {
	outline: 0;
}
/* Button modifiers */

.buttonBlue {
	background: #4a89dc;
	text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}
.buttonBlue:hover {
	background: #357bd8;
}
